<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"> -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar color="primary"><a routerLink="" routerLinkActive="active">SGRH</a></mat-toolbar>
    <mat-nav-list>
      <button mat-button style="width:100%;text-align:left;"><a routerLink="" routerLinkActive="active">Home</a></button>
      <button mat-button [matMenuTriggerFor]="menu" style="width:100%;text-align:left;">Recrutamento e Seleção</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a routerLink="/cadastro-evento-recrutamento" routerLinkActive="active">Vagas</a>
        </button>
        <button mat-menu-item>
          <a routerLink="/cadastro-candidato" routerLinkActive="active">Candidato</a>
        </button>
        <button mat-menu-item>
          <a routerLink="/cadastro-curriculo" routerLinkActive="active">Currículos</a>
        </button>
        <!-- <button mat-menu-item>
          <a routerLink="/selecao-candidato" routerLinkActive="active">Seleção Candidato</a>
        </button> -->
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu4" style="width:100%;text-align:left;">Ficha Funcional</button>
      <mat-menu #menu4="matMenu">
        <button mat-menu-item><a routerLink="/funcionarios" routerLinkActive="active">Funcionários</a></button>
        <button mat-menu-item><a routerLink="/dependentes" routerLinkActive="active">Dependentes</a></button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu2" style="width:100%;text-align:left;">Folha de Pagamento</button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item>Relatório</button>
        <button mat-menu-item>Tabela de Descontos</button>
        <button mat-menu-item>Lançamento de Horas</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu3" style="width:100%;text-align:left;">Configurações</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item><a routerLink="/jornada-de-trabalho" routerLinkActive="active">Jornada de Trabalho</a></button>
        <button mat-menu-item><a routerLink="/cargos" routerLinkActive="active">Cargos</a></button>
        <button mat-menu-item><a routerLink="/setores" routerLinkActive="active">Setores</a></button>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{titulonomemodulo}}</span>
    </mat-toolbar>
  </mat-sidenav-content>
  <mat-sidenav-content>
    <mat-toolbar color="secondary">
      <span style="font-size: 1rem;">{{titulonomepagina}}</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>