.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.escondeMenu{
  transform: translate3d(-100%, 0px, 0px);
}
.mostraMenu{
  transform: translate3d(0px, 0px, 0px);
}
a{
  text-decoration: none;
  color: #333;
  display: block;
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button{
  color: #cac8c8 !important;
}
.mat-drawer.mat-drawer-side {
  background: rgb(25, 24, 24);
}