<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div class="colPanel">
  <div class="row-container-panel">
    <div class="column-container-panel column-container-panel-1">
      <form [formGroup]="myForm" (ngSubmit)="save()">
        <div class="grid-container">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Setor" formControlName="descricaosetor">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Salvar</button>
        </div>
      </form>
    </div>
    <div class="column-container-panel column-container-panel-1">
      <table>
        <tr>
          <th>id Setor</th>
          <th>Nome</th>
        </tr>
        <tr *ngFor="let setor of lista">
          <td>{{setor.idsetor}}</td>
          <td>{{setor.descricaosetor}}</td>
          <td>
            <button mat-raised-button color="warn" (click)="delete(setor)">Excluir</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>