<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div class="colPanel">
  <div class="row-container-panel">
    <div class="column-container-panel column-container-panel-1">
      <form [formGroup]="myForm" (ngSubmit)="save()">
        <div class="grid-container">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Início Manhã" formControlName="ini_manha">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Fim Manhã" formControlName="fim_manha">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Início Tarde" formControlName="ini_tarde">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Fim Tarde" formControlName="fim_tarde">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Salvar</button>

        </div>
      </form>
    </div>
    <div class="column-container-panel column-container-panel-1">
      <table>
        <tr>
          <th>id</th>
          <th>Início Manhã</th>
          <th>Fim Manhã</th>
          <th>Início Tarde</th>
          <th>Fim Tarde</th>
        </tr>
        <tr *ngFor="let jornada of lista">
          <td>{{jornada.idhorario}}</td>
          <td>{{jornada.inimanha}}</td>
          <td>{{jornada.fimmanha}}</td>
          <td>{{jornada.initarde}}</td>
          <td>{{jornada.fimtarde}}</td>
          <td>
              <button mat-raised-button color="warn" (click)="delete(jornada)">Excluir</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>