.colPanel{
    width:calc(100% - 230px);
    margin-left:200px;
    padding-left: 30px;
}
.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  .example-form {
    min-width: 150px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-mid-width {
    width: 48%;
    margin: 1%;
  }
  table {
    width: 100%;
  }