<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div class="colPanel">
  <div *ngIf="!listapessoa && !listacargos && !listasetor; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
  <ng-template #elseBlock></ng-template>
  <div class="row-container-panel">
    <div class="column-container-panel column-container-panel-1">
      <form [formGroup]="myForm" (ngSubmit)="save()">
        <div class="grid-container">
          <mat-form-field class="example-full-width">
            <mat-label>Selecionar Pessoa</mat-label>
            <mat-select formControlName="idpessoa">
              <mat-option *ngFor="let pessoa of listapessoa" [value]="pessoa.idpessoa">
                {{pessoa.idpessoa}} | {{pessoa.nomepessoa}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-mid-width">
            <mat-label>Cargo</mat-label>
            <mat-select formControlName="idcargo">
              <mat-option *ngFor="let cargo of listacargos" [value]="cargo.idcargo">
                {{cargo.descricaocargo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-mid-width">
            <mat-label>Setor</mat-label>
            <mat-select formControlName="idsetor">
              <mat-option *ngFor="let setor of listasetor" [value]="setor.idsetor">
                {{setor.descricaosetor}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Endereço" formControlName="endereco">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Telefone" formControlName="telefone">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Quantidade de Dependentes" formControlName="numerodependentes">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Salário">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Salvar</button>
        </div>
      </form>
    </div>
    <div class="column-container-panel column-container-panel-1">
      <table>
        <tr>
          <th>Id Funcionário</th>
          <th>Nome</th>
          <th>Id Cargo</th>
          <th>Id Setor</th>
          <th>CPF</th>
        </tr>
        <tr *ngFor="let funcionaro of lista">
          <td>{{funcionaro.idfuncionario}}</td>
          <td>{{funcionaro.nomefuncionario}}</td>
          <td>{{funcionaro.idcargo}}</td>
          <td>{{funcionaro.idsetor}}</td>
          <td>{{funcionaro.cpffuncionario}}</td>
          <td>
            <button mat-raised-button color="warn" (click)="delete(funcionaro)">Excluir</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>