<p>
  lista-funcionarios works!
</p>
<nav-lateral></nav-lateral>
<div class="colPanel">
  <form [formGroup]="myForm" (ngSubmit)="save()">
  <!-- <form class="example-form"> -->
    <div class="grid-container">
      <mat-grid-list cols="2" rowHeight="1:0.8">
        <mat-grid-tile >
            {{newTitle}}
              <div>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Nome completo" formControlName="nomepessoa">
                </mat-form-field>
              </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </form>        