<nav-lateral [titulopagina]="titulonomepagina" [titulomodulo]="titulonomemodulo"></nav-lateral>
<div class="colPanel">
  <div *ngIf="!listagenero && !listaestadocivil; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
  <ng-template #elseBlock></ng-template>
  <div class="row-container-panel">
    <div class="column-container-panel column-container-panel-1">
      <form [formGroup]="myForm" (ngSubmit)="save()">
        <!-- <form class="example-form"> -->
        <div class="grid-container">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nome completo" formControlName="nomepessoa">
          </mat-form-field>
          <mat-form-field class="example-mid-width">
            <input matInput placeholder="Data Nascimento" formControlName="datanascimento">
          </mat-form-field>
          <mat-form-field class="example-mid-width">
            <input matInput placeholder="Telefone" formControlName="contatopessoa">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="emailpessoa">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="CPF" formControlName="cpfpessoa">
          </mat-form-field>
          <mat-form-field class="example-mid-width">
            <mat-label>Selecione o Gênero</mat-label>
            <mat-select formControlName="sexopessoa">
              <mat-option *ngFor="let sexo of listagenero" [value]="sexo.idgenero">
                {{sexo.descricaogenero}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-mid-width">
            <mat-label>Selecione o Estado Civil</mat-label>
            <mat-select formControlName="estadocivil">
              <mat-option *ngFor="let listaestadocivil of listaestadocivil" [value]="listaestadocivil.idestadocivil">
                {{listaestadocivil.descricaoestadocivil}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="example-full-width">
            <div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone">
              Arraste o seu currículo
            </div>
            <div style="width: 500px">
              <mat-file-upload-queue #fileUploadQueue [fileAlias]="'file'"
                [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'" multiple>

                <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index">
                </mat-file-upload>
              </mat-file-upload-queue>
            </div>
          </div>
          <button mat-raised-button color="primary" type="submit">Salvar</button>
        </div>
      </form>
    </div>
    <div class="column-container-panel column-container-panel-1">
      <table>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
        </tr>
        <tr *ngFor="let candidato of lista">
          <td>{{candidato.idpessoa}}</td>
          <td>{{candidato.nomepessoa}}</td>
          <td>{{candidato.cpfpessoa}}</td>
          <td>{{candidato.emailpessoa}}</td>
          <td>
            <button mat-raised-button color="warn" (click)="delete(candidato)">Excluir</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>