/* You can add global styles to this file, and also import other style files */

body { margin: 0; }
.colPanel{
    width:100%;
    margin: 0 auto;
}

.grid-container {
    margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-mid-width {
  width: 48%;
  margin: 1%;
}
.upload-drop-zone{
  border: 3px dashed #ccc;
  padding: 15px;
}
.mat-grid-list{
  height: fit-content;
}
.mat-toolbar.mat-primary{
  background: #1b1b1b;
}
.row-container-panel{
  max-width: 1200px;
  margin: 0 auto;
}
.row-container-panel, 
.column-container-panel {
    box-sizing: border-box;
}

.row-container-panel:before,
.row-container-panel:after {
    content: " ";
    display: table;
}

.row-container-panel:after {
    clear: both;
}

.column-container-panel {
    position: relative;
    float: left;
}

.column-container-panel + .column-container-panel {
    margin-left: 1%;
}

.column-container-panel-1 {
    width: 48%;
}
table{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 300;
}
th{
  font-size: 0.8em;
}
@media only screen and (max-width: 960px){
  .colPanel{
    width:100%;
    margin-left:0px;
    padding-left: 0px;
  }
}